<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Apprentice Email</title>
  </head>
  <body>


    <h3>Looks like you have another potential candidant!</h3>

    <hr>

    <p>The users name is: <%= @user.fullname %>.</p>

    <p><%= @user.fullname %> email is <%= @user.email %>.</p>

    <p>Project repo: <%= @user.repo %>.</p>

    <p>Project URL: <%= @user.url %>.</p>

    <br>

    <h3>Valuation Points:</h3>

    <hr>

    <ul>
      <li>Using best practices for OOP: <%= @user.oop %></li>
      <li>Modular development: <%= @user.modular %></li>
      <li>Full stack workflow understanding: <%= @user.workflow %></li>
      <li>Testing: <%= @user.testing %></li>
      <li>Database Knowledge: <%= @user.database %></li>
      <li>Problem solving skills: <%= @user.problem %></li>
      <li>javascript: <%= @user.javascript %></li>
      <li>HTML: <%= @user.html %></li>
      <li>CSS: <%= @user.css %></li>
      <li>Working on a team: <%= @user.team %></li>
      <li>Self motivation: <%= @user.selfmotivate %></li>
      <li>Communication skills: <%= @user.communication %></li>
      <li>Debugging: <%= @user.debugging %></li>
      <li>Your energy level: <%= @user.energy %></li>
      <li>Intelligence: <%= @user.intelligence %></li>
    </ul>

  </body>
</html>
