<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# f.label :fullname, placeholder: :fullname %><br>
    <%= f.text_field :fullname, placeholder: :fullname%>
  </div>
  <div class="field">
    <%# f.label :email %><br>
    <%= f.text_field :email, placeholder: :email %>
  </div>
  <div class="field">
    <%# f.label :repo %><br>
    <%= f.text_field :repo, placeholder: :project_repo %>
  </div>
  <div class="field">
    <%# f.label :url %><br>
    <%= f.text_field :url, placeholder: :project_url %>
  </div>
  <div class="field">
    <p>USING BEST PRACTICES FOR OOP: <%= f.number_field :oop %></p>
  </div>
  <div class="field">
    <p>MODULAR DEVELOPMENT: <%= f.number_field :modular %></p>
  </div>
  <div class="field">
    <p>FULL STACK WORKFLOW UNDERSTANDING: <%= f.number_field :workflow %></p>
  </div>
  <div class="field">
    <p>TESTING: <%= f.number_field :testing %></p>
  </div>
  <div class="field">
    <p>DATABASE KNOWLEDGE: <%= f.number_field :database %></p>
  </div>
  <div class="field">
    <P>PROBLEM SOLVING SKILLS: <%= f.number_field :problem %></p>
  </div>
  <div class="field">
    <p>JAVASCRIPT: <%= f.number_field :javascript %></p>
  </div>
  <div class="field">
    <p>HTML: <%= f.number_field :html %><p>
  </div>
  <div class="field">
    <p>CSS: <%= f.number_field :css %></p>
  </div>
  <div class="field">
    <p>WORKING ON A TEAM: <%= f.number_field :team %></p>
  </div>
  <div class="field">
    <p>SELF MOTIVATION: <%= f.number_field :self %></p>
  </div>
  <div class="field">
    <p>COMMUNICATION SKILLS: <%= f.number_field :communication %></p>
  </div>
  <div class="field">
    <p>DEBUGGING: <%= f.number_field :debugging %></p>
  </div>
  <div class="actions">
    <%= f.submit "SUBMIT" %>
  </div>
<% end %>
