<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Repo:</strong>
  <%= @user.repo %>
</p>

<p>
  <strong>Url:</strong>
  <%= @user.url %>
</p>

<p>
  <strong>Oop:</strong>
  <%= @user.oop %>
</p>

<p>
  <strong>Modular:</strong>
  <%= @user.modular %>
</p>

<p>
  <strong>Workflow:</strong>
  <%= @user.workflow %>
</p>

<p>
  <strong>Testing:</strong>
  <%= @user.testing %>
</p>

<p>
  <strong>Database:</strong>
  <%= @user.database %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @user.problem %>
</p>

<p>
  <strong>Javascript:</strong>
  <%= @user.javascript %>
</p>

<p>
  <strong>Html:</strong>
  <%= @user.html %>
</p>

<p>
  <strong>Css:</strong>
  <%= @user.css %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team %>
</p>

<p>
  <strong>Self:</strong>
  <%= @user.selfmotivate %>
</p>

<p>
  <strong>Communication:</strong>
  <%= @user.communication %>
</p>

<p>
  <strong>Debugging:</strong>
  <%= @user.debugging %>
</p>


<%= link_to 'Back', welcome_path %>
