
<div class="container text-center landing">
  <h1>Your user profile was successfully created. We will be in touch.</h1>
</div>

<div class="container landing">
  <h3>INFO:</h3>
  <div>
    <p>Fullname:</p>
    <%=@user.fullname %>
  </div>

  <br>

  <div>
    <p>Email:</p>
    <%= @user.email %>
  </div>

  <br>

  <div>
    <p>Project Repo:</p>
    <%= @user.repo %>
  </div>

  <br>

  <div>
    <p>Project Url:</p>
    <%= @user.url %>
  </div>
  <hr>

  <h3>Points:</h3>
  <div>
    <p>Using Best Practices For OOP: <%= @user.oop %></p>
  </div>

  <div>
    <p>Modular Development: <%= @user.modular %></p>
  </div>

  <div>
    <p>Full Stack Workflow Understanding: <%= @user.workflow %></p>
  </div>

  <div>
    <p>Testing: <%= @user.testing %></p>
  </div>

  <div>
    <p>Database Knowledge: <%= @user.database %></p>
  </div>

  <div>
    <p>Problem Solving Skills: <%= @user.problem %></p>
  </div>

  <div>
    <p>Javascript: <%= @user.javascript %></p>
  </div>

  <div>
    <p>HTML: <%= @user.html %></p>
  </div>

  <div>
    <p>CSS: <%= @user.css %></p>
  </div>

  <div>
    <p>Working on a Team: <%= @user.team %></p>
  </div>

  <div>
    <p>Self Motivation: <%= @user.selfmotivate %></p>
  </div>

  <div>
    <p>Communication Skills: <%= @user.communication %></p>
  </div>

  <div>
    <p>Debuggin: <%= @user.debugging %></p>
  </div>

  <div>
    <p>Your energy level: <%= @user.energy %></p>
  </div>

  <div>
    <p>intelligence: <%= @user.intelligence %></p>
  </div>

  <div class="text-right">
    <h3><%= link_to 'Back', welcome_path %></h3>
  </div>

</div>
